<div>
  <div class="row">
    <div class="col-sm-6">
      <h2>Username/Password Authentication</h2>

      <form>

        <div class="form-group">
          <label for="name">Email</label>
          <input
            type="email"
            class="form-control"
            ng-model="email"
            placeholder="Enter your email">
        </div>

        <div class="form-group">
          <label for="name">Password</label>
          <input
            type="password"
            class="form-control"
            ng-model="password"
            placeholder="Enter your password">
        </div>

        <button
          type="submit"
          class="btn btn-primary"
          ng-click="vm.auth.login(email, password)">
            Log In
        </button>

        <button
          type="submit"
          class="btn btn-primary"
          ng-click="vm.auth.signup(email, password)">
            Sign Up
        </button>

      </form>

    </div>

    <div class="col-sm-6">
      <h2>Social Authentication</h2>

      <button
        type="submit"
        class="btn btn-default btn-danger"
        ng-click="vm.auth.loginWithGoogle()">
          Log In with Google
      </button>

    </div>
  </div>
</div>
