<h1>Make a Call to the Server</h1>

<p ng-if="!vm.auth.isAuthenticated()">
  Log in to call a private (secured) server endpoint.
</p>

<button
  class="btn btn-primary" 
  ng-click="vm.ping()">
    Call Public
</button>

<button 
  class="btn btn-primary"
  ng-click="vm.securedPing()" 
  ng-if="vm.auth.isAuthenticated()">
    Call Private
</button>

<button 
  class="btn btn-primary"
  ng-click="vm.adminPing()" 
  ng-if="vm.auth.isAuthenticated()
  && vm.auth.isAdmin()">
    Call Admin
</button>

<h2>{{ vm.message }}</h2>