var AUTH0_CLIENT_ID='{CLIENT_ID}'; 
var AUTH0_DOMAIN='{DOMAIN}'; 
var AUTH0_CALLBACK_URL='http://localhost:3000/callback';
var AUTH0_AUDIENCE='{API_IDENTIFIER}';
var REQUESTED_SCOPES='openid profile read:messages write:messages';